<section>
    <h2>Layout with CSS</h2>
</section>

<section>

<section class="align-center">
    <img src="resources/alice-dropcap.png">
</section>

<section>
    <pre><code class='html'><!--
    <img src="a.png" class="dropcap">
    <p>Alice was beginning to &hellip; </p>
    --></code></pre>
</section>

<section>
    <pre><code class='css'><!--
    .dropcap {
        float: left;
        shape-outside: url('a.png');
    }
    --></code></pre>
</section>

<section class="align-center">
    <img src="resources/ozma.jpg">
</section>

</section>

<section>

<section>
    <pre><code class='css'><!--
    shape-outside: inset(top right bottom left);
    --></code></pre>
</section>

<section class="align-center"><img src="resources/rectangle.png"></section>

<section>
    <pre><code class='css'><!--
    shape-outside: circle(radius at cx cy);
    --></code></pre>
</section>

<section class="align-center"><img src="resources/circle.png"></section>

<section>
    <pre><code class='css'><!--
    shape-outside: polygon(x1 y1, x2 y2, x3 y3);
    --></code></pre>
</section>

<section class="align-center"><img src="resources/polygon.png"></section>

<section>
    <pre><code class='css'><!--
    shape-outside: url("image.png");
    --></code></pre>
</section>

<!-- <section class="align-center"><img src="resources/image.png"></section> -->

</section>